* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #d1a9b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 600px;
  border: 4px solid #a36ea4;
  border-radius: 10px;
  overflow: hidden;
}

/* ซ้าย */
.left-section {
  flex: 1;
  background-color: #81476d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree {
  width: 300px;
  height: 400px;
  background: url("tree.png") no-repeat center/contain;
}

/* ขวา */
.right-section {
  flex: 1;
  background-color: #b98ea7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}

.logo img {
  width: 100px;
  height: auto;
  
}

.logo p {
  font-size: 14px;
  color: #0b3bc4;
  font-weight: bold;
  text-align: center;
}


/* ปุ่ม */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  background-color: #6a2d5c;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  display: flex;              /* ใช้ flex เพื่อจัดไอคอน + ตัวอักษร */
  align-items: center;
  justify-content: center;
  gap: 10px;                  /* ระยะห่างระหว่างไอคอนกับข้อความ */
  transition: 0.3s;
}

.btn img {
  width: 20px;
  height: 20px;
}

.btn:hover {
  background-color: #531e46;
}

/* ฟอร์ม Login */
.login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;
}

label {
  font-size: 14px;
  color: #2d0b1c;
}

.input-box {
  display: flex;
  align-items: center;
  border: 2px solid #4d1c42;
  border-radius: 20px;
  padding: 8px 12px;
  background-color: #d1a9b8;
}

.input-box .icon {
  width: 18px;       /* ขนาด icon */
  height: 18px;
  margin-right: 8px; /* ระยะห่างระหว่าง icon กับ input */
}

.input-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #2d0b1c;
}


.login-form .btn {
  margin-top: 15px;
}

/* ติดต่อ */
.contact {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.contact a {
  text-decoration: none;
  font-size: 12px;
  color: #4d1c42;
}